<div class="container-fluid contenaire-bg">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-sm-12">
      <div class="container shadow py-4 px-5 my-4 justify-content-center mx-auto bg-white rounded-top">
        <h1 class="text-center mb-5 mt-3"> Créez un Projet</h1>
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="form-row">
            <div class="form-group col-6 ">
              <label class="" for="project_name">Nom du projet</label>
              <div class="input-group">
                <input type="text" name="project_name" required class="form-control" id="project_name"
                  placeholder="Entrez le nom de votre projet " [(ngModel)]="projet.name">
              </div>
            </div>
            <div class="form-group col-6">
              <label class="" for="interest_rate"> Taux d'interet </label>
              <div class="input-group">
                <input type="number" name="interest_rate" required class="form-control" id="interest_rate"
                  [(ngModel)]="projet.interest_rate">
              </div>
              <small class="form-text text-muted pl-2">2% minimum et 15% max.</small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <label class="" for="min_amount">Montant minimal recherché</label>
              <div class="input-group">
                <input type="number" name="min_amount" min="20000" required class="form-control" id="min_amount"
                  [(ngModel)]="projet.min_amount">
              </div>
              <small class="form-text text-muted pl-2">20000 XAF minimum.</small>
            </div>
            <div class="form-group col-6 ">
              <label class="" for="max_amount">Montant maximal recherché</label>
              <div class="input-group">
                <input type="number" name="max_amount" min="20000" required class="form-control" id="max_amount"
                  [(ngModel)]="projet.max_amount">
              </div>
              <small class="form-text text-muted pl-2">10.000.00 XAF max</small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <label class="" for="inputGroupSelect01">Categorie</label>
              <div class="input-group">
                <select class="custom-select" id="inputGroupSelect01" name="category_id"
                  [(ngModel)]="projet.category_id">
                  <option *ngFor="let category of categories" value="{{ category.id }}">
                    {{ category.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group col-6">
              <label class="">
                Description
              </label>
              <textarea class="form-control" cols="5" name="description" id="validationTextarea" required
                placeholder="Entrez une description du projet " required [(ngModel)]="projet.description "></textarea>
              <small class="form-text text-muted pl-2">
                En qoui consiste votre projet en quelques
                paragraphs
              </small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <label class="" for="duree">Durée du projet (en jours)</label>
              <div class="input-group">
                <input type="number" name="duree" class="form-control" id="duree" [(ngModel)]="projet.duration">
              </div>
              <small class="form-text text-muted pl-2">93 jours minimum.</small>
            </div>
            <div class="form-group col-6">
              <label class="" for="funding_deadline">Date limite de la collecte</label>
              <div class="input-group">
                <input type="date" name="funding_deadline" class="form-control" id="funding_deadline"
                  [(ngModel)]="projet.funding_deadline">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <label class="" for="reimbursement_deadline">Date limite du remboursement </label>
              <div class="input-group">
                <input type="date" name="reimbursement_deadline" class="form-control" id="reimbursement_deadline"
                  [(ngModel)]="projet.reimbursement_deadline">
              </div>
            </div>
            <div class="form-group col-6">
              <div class="custom-file mt-2">
                <label class="custom-file-label" for="documents">
                  <small>
                    Documents du projet
                  </small>
                </label>
                <input placeholder="Documents lié au projet ( photos, videos, bussiness plan, études, ...)" type="file"
                  observeFiles [(ngModel)]="projet.documents" multiple class="custom-file-input" name="documents"
                  required id="documents" aria-describedby="documents">
                <small class="form-text text-muted pl-2">
                  Ajouter les documents lié au projet ( photos, videos, bussiness plan, études technique, ...)
                </small>
              </div>
            </div>
          </div>
          <br>
          <p class="text-center">
            <button type="submit" [disabled]="f.invalid"
              class="btnDevenir btn btn-primary border-primary px-4 p-2 rounded-pill font-weight-bold">
              Soummetre
            </button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
