<div class="h-full w-full flex items-center justify-center py-12 px-6">
  <div class="max-w-md w-full space-y-8">
    <div>
      <app-logo></app-logo>
      <p class="mt-4 text-center text-sm text-gray-400">
        Join and say what's on your mind
      </p>
    </div>
    <form class="space-y-5" (ngSubmit)="signup($event)" action="#" method="POST">
      <div class="flex">
        <div class="w-1/2 pr-2">
          <label for="first_name" class="sr-only">First Name</label>
          <input [(ngModel)]="user.first_name" id="first_name" name="first_name" type="text" autocomplete="first_name"
            required class="
                appearance-none
                relative
                block
                w-full
                px-3
                py-2
                border border-gray-300
                placeholder-gray-500
                text-gray-900
                rounded-md
                focus:outline-none
                focus:ring-black
                focus:border-black
                focus:z-10
                sm:text-sm
              " placeholder="First Name" />
        </div>
        <div class="w-1/2 pl-2">
          <label for="last_name" class="sr-only">Last Name</label>
          <input [(ngModel)]="user.last_name" id="last_name" name="last_name" type="text" autocomplete="last_name"
            required class="
                appearance-none
                relative
                block
                w-full
                px-3
                py-2
                border border-gray-300
                placeholder-gray-500
                text-gray-900
                rounded-md
                focus:outline-none
                focus:ring-black
                focus:border-black
                focus:z-10
                sm:text-sm
              " placeholder="Last Name" />
        </div>
      </div>
      <div class="relative rounded-md shadow-sm">
        <div
          class="absolute inset-y-0 left-0 px-3 border-r flex items-center pointer-events-none bg-black text-white rounded-l-md">
          <span class="text-gray-50 sm:text-sm">+237</span>
        </div>
        <input [(ngModel)]="user._phone" type="text" name="phone" id="phone" required
          class="tracking-wider focus:ring-black focus:border-black block w-full pl-20 pr-12 sm:text-sm border-gray-300 rounded-md"
          placeholder="698298873">
      </div>
      <div>
        <label for="password" class="sr-only">Password</label>
        <input [(ngModel)]="user.password" id="password" name="password" type="password" autocomplete="current-password"
          required class="
              appearance-none
              relative
              block
              w-full
              px-3
              py-2
              border border-gray-300
              placeholder-gray-500
              text-gray-900
              rounded-md
              focus:outline-none
              focus:ring-black
              focus:border-black
              focus:z-10
              sm:text-sm
            " placeholder="Password" />
        <small v-if="error.data.password" class="text-red-500"></small>
      </div>
      <div>
        <label for="password_confirmation" class="sr-only">Password</label>
        <input [(ngModel)]="password_confirm" id="password_confirmation" name="password_confirmation" type="password"
          autocomplete="current-password" required class="
              appearance-none
              relative
              block
              w-full
              px-3
              py-2
              border border-gray-300
              placeholder-gray-500
              text-gray-900
              rounded-md
              focus:outline-none
              focus:ring-black
              focus:border-black
              focus:z-10
              sm:text-sm
            " placeholder="Confirm Password" />
        <small *ngIf="!errors.confirmation" class="text-red-500">Password and
          confimation don't
          match</small>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <label for="agree" class="text-gray-500 text-xs">
            <input [(ngModel)]="agree" id="agree" type="checkbox" name="agree"
              class="rounded text-black focus:ring-black mr-1" required />
            I Agree to
            <a class="text-black focus:text-gray-900" href="">Terms of service</a>
            <small *ngIf="!errors.agreement" class="text-red-500 block">You need to
              agree</small>
          </label>
        </div>

      </div>
      <div class="flex justify-center" v-if="error.message">
        <small class="text-red-500">
          <!-- error.message -->
        </small>
      </div>

      <div>
        <button type="submit" class="
              group
              relative
              w-full
              flex
              justify-center
              py-2
              px-4
              border border-transparent
              text-sm
              font-medium
              rounded-md
              text-white
              bg-black
              focus:opacity-90
              focus:outline-none
              focus:ring-2 focus:ring-offset-2 focus:ring-black
            ">
          Sign Up
        </button>
        <span class="block mt-4 text-gray-500 text-sm text-center">
          Already have an user ? &nbsp;
          <a [routerLink]="'/signin'" class="font-medium text-black">
            Sign In
          </a>
        </span>
      </div>
    </form>
  </div>
</div>
