<div class="
      h-full
      flex flex-col
      items-center
      justify-center
      py-12
      px-4
    ">
  <h1 class="w-full text-center text-3xl font-bold text-black mb-10">
    Reset Password
  </h1>
  <div class="max-w-md w-full space-y-10 px-2">
    <div class="w-full flex justify-between mb-6 text-gray-500">
      <button (click)="verify = false; email =  true; reset = false" class="
            flex-1
            text-center
            border-b-2
            py-2
            outline-none
            focus:outline-none
          "
        [class]="{ 'border-black': email, 'border-gray-900': verify || reset, 'border-opacity-50': verify || reset }">
        Phone
      </button>
      <button (click)="verify = true; email =  false; reset = false" class="
            flex-1
            text-center
            border-b-2
            py-2
            outline-none
            focus:outline-none
          " [class]="{ 'border-black': verify, 'border-gray-900': reset, 'border-opacity-50': reset }">
        Verify
      </button>
      <button (click)="verify = false; email =  false; reset = true" class="
            flex-1
            text-center
            border-b-2
            py-2
            outline-none
            focus:outline-none
          " [class]="{ 'border-black': reset }">
        Reset
      </button>
    </div>
    <div>
      <form *ngIf="email" class="mt-8 space-y-6" action="#" method="POST">
        <div>
          <label for="email" class="text-gray-900 text-center w-full block mb-3 text-lg font-medium">
            Enter Your Phone Number
          </label>
          <input v-model="email" id="email" name="email" type="email" autocomplete="email" required class="
                appearance-none
                relative
                block
                w-full
                mb-1
                text-center
                px-3
                py-2
                border border-gray-300
                placeholder-gray-500
                text-gray-900
                rounded-md
                focus:outline-none
                focus:ring-black
                focus:border-black
                focus:z-10
                sm:text-sm
              " placeholder="698289973" />
          <small class="text-red-500 text-center" v-if="error"> error </small>
          <small class="text-gray-400 block text-center" v-else>You will recieve an SMS with verification code</small>
        </div>

        <div>
          <button type="submit" class="
                group
                relative
                w-full
                flex
                justify-center
                py-2
                px-4
                border border-transparent
                text-sm
                font-medium
                rounded-md
                text-white
                bg-black focus:opacity-90
                focus:outline-none
                focus:ring-2 focus:ring-offset-2 focus:ring-black
              ">
            Send Code
          </button>
        </div>
      </form>
      <form *ngIf="verify" class="mt-8 space-y-6" action="#" method="POST">
        <div>
          <label for="code" class="text-gray-900 text-center w-full block mb-3 text-lg font-medium">Enter verification
            code</label>
          <input v-model="code" id="code" name="code" type="code" autocomplete="code" required class="
                text-center
                appearance-none
                relative
                block
                w-full
                mb-1
                px-3
                py-2
                border border-gray-300
                placeholder-gray-500
                text-gray-900
                rounded-md
                focus:outline-none
                focus:ring-black
                focus:border-black
                focus:z-10
                sm:text-sm
              " placeholder="Verification code" />
          <small class="text-red-500 block text-center" v-if="error">
            <button class="text-gray-900 focus:text-black" :to="{ name: 'reset-init' }">Resend</button>
          </small>
          <small class="text-gray-400 block text-center" v-else>Didn't recieve code ?
            <button class="text-gray-900 focus:text-black" :to="{ name: 'reset-init' }">Resend</button>
          </small>
        </div>

        <div>
          <button type="submit" class="
                group
                relative
                w-full
                flex
                justify-center
                py-2
                px-4
                border border-transparent
                text-sm
                font-medium
                rounded-md
                text-white
                bg-black focus:opacity-90
                focus:outline-none
                focus:ring-2 focus:ring-offset-2 focus:ring-black
              ">
            Verify
          </button>
        </div>
      </form>
      <form *ngIf="reset" class="mt-8 space-y-5" action="#" method="POST">
        <h3 for="email" class="text-gray-900 text-center w-full block text-lg font-medium -mt-2">
          Reset Your Password
        </h3>
        <div class="w-full">
          <label for="password" class="sr-only">First Name</label>
          <input v-model="password" id="password" name="password" type="password" autocomplete="password" required
            class="
                  appearance-none
                  relative
                  block
                  w-full
                  px-3
                  py-2
                  border border-gray-300
                  placeholder-gray-500
                  text-gray-900
                  rounded-md
                  focus:outline-none
                  focus:ring-black
                  focus:border-black
                  focus:z-10
                  sm:text-sm
                " placeholder="New Password" />
        </div>
        <div class="w-full">
          <label for="password_confirmation" class="sr-only">password_confirmation</label>
          <input v-model="password_confirmation" id="password_confirmation" name="password_confirmation" type="password"
            autocomplete="password_confirmation" required class="
                  appearance-none
                  relative
                  block
                  w-full
                  px-3
                  py-2
                  border border-gray-300
                  placeholder-gray-500
                  text-gray-900
                  rounded-md
                  focus:outline-none
                  focus:ring-black
                  focus:border-black
                  focus:z-10
                  sm:text-sm
                " placeholder="Confirm Password" />
        </div>
        <small class="text-red-500 text-center block w-full mt-2" v-if="error">
          error
        </small>

        <div>
          <button type="submit" class="
                group
                relative
                w-full
                flex
                justify-center
                py-2
                px-4
                border border-transparent
                text-sm
                font-medium
                rounded-md
                text-white
                bg-black focus:opacity-90
                focus:outline-none
                focus:ring-2 focus:ring-offset-2 focus:ring-black
              ">
            Update Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
