<template>
  <form class="mt-8 space-y-6" action="#" method="POST" @submit.prevent="sendCode(email)">
    <div>
      <label for="email" class="text-gray-600 text-center w-full block mb-3 text-lg font-medium">Enter Your Email
        address</label>
      <input v-model="email" id="email" name="email" type="email" autocomplete="email" required class="
          appearance-none
          relative
          block
          w-full
          mb-1
          text-center
          px-3
          py-2
          border border-gray-300
          placeholder-gray-500
          text-gray-900
          rounded-md
          focus:outline-none
          focus:ring-lime-400
          focus:border-lime-400
          focus:z-10
          sm:text-sm
        " placeholder="johndoe@foo.com" />
      <small class="text-red-500 text-center" v-if="error">{{ error }}</small>
      <small class="text-gray-400 block text-center" v-else>You will recieve a verification code at this email</small>
    </div>

    <div>
      <button type="submit" class="
          group
          relative
          w-full
          flex
          justify-center
          py-2
          px-4
          border border-transparent
          text-sm
          font-medium
          rounded-md
          text-white
          bg-lime-500
          hover:bg-lime-600
          focus:outline-none
          focus:ring-2 focus:ring-offset-2 focus:ring-lime-400
        ">
        Send Code
      </button>
    </div>
  </form>
</template>


<template>
  <form class="mt-8 space-y-6" action="#" method="POST" @submit.prevent="verify(code)">
    <div>
      <label for="email" class="text-gray-600 text-center w-full block mb-3 text-lg font-medium">Enter verification code
        sent to your email address</label>
      <input v-model="code" id="code" name="code" type="code" autocomplete="code" required class="
          text-center
          appearance-none
          relative
          block
          w-full
          mb-1
          px-3
          py-2
          border border-gray-300
          placeholder-gray-500
          text-gray-900
          rounded-md
          focus:outline-none
          focus:ring-lime-400
          focus:border-lime-400
          focus:z-10
          sm:text-sm
        " placeholder="Verification code" />
      <small class="text-red-500 block text-center" v-if="error">{{ error }}
        <router-link class="text-lime-500 hover:text-lime-400" :to="{ name: 'reset-init' }">Resend</router-link>
      </small>
      <small class="text-gray-400 block text-center" v-else>Didn't recieve code ?
        <router-link class="text-lime-500 hover:text-lime-400" :to="{ name: 'reset-init' }">Resend</router-link>
      </small>
    </div>

    <div>
      <button type="submit" class="
          group
          relative
          w-full
          flex
          justify-center
          py-2
          px-4
          border border-transparent
          text-sm
          font-medium
          rounded-md
          text-white
          bg-lime-500
          hover:bg-lime-600
          focus:outline-none
          focus:ring-2 focus:ring-offset-2 focus:ring-lime-400
        ">
        Verify
      </button>
    </div>
  </form>
</template>

<template>
  <form class="mt-8 space-y-6" action="#" method="POST" @submit.prevent="next">
    <div class="flex flex-wrap">
      <h3 for="email" class="text-gray-600 text-center w-full block mb-3 text-lg font-medium">
        Reset Your Password
      </h3>
      <div class="w-1/2 pr-2">
        <label for="password" class="sr-only">First Name</label>
        <input v-model="password" id="password" name="password" type="password" autocomplete="password" required class="
            appearance-none
            relative
            block
            w-full
            px-3
            py-2
            border border-gray-300
            placeholder-gray-500
            text-gray-900
            rounded-md
            focus:outline-none
            focus:ring-lime-400
            focus:border-lime-400
            focus:z-10
            sm:text-sm
          " placeholder="Password" />
      </div>
      <div class="w-1/2 pl-2">
        <label for="password_confirmation" class="sr-only">Last Name</label>
        <input v-model="password_confirmation" id="password_confirmation" name="password_confirmation" type="password"
          autocomplete="password_confirmation" required class="
            appearance-none
            relative
            block
            w-full
            px-3
            py-2
            border border-gray-300
            placeholder-gray-500
            text-gray-900
            rounded-md
            focus:outline-none
            focus:ring-lime-400
            focus:border-lime-400
            focus:z-10
            sm:text-sm
          " placeholder="Confirm Password" />
      </div>
      <small class="text-red-500 text-center block w-full mt-2" v-if="error">{{
        error
        }}</small>
    </div>

    <div>
      <button type="submit" class="
          group
          relative
          w-full
          flex
          justify-center
          py-2
          px-4
          border border-transparent
          text-sm
          font-medium
          rounded-md
          text-white
          bg-lime-500
          hover:bg-lime-600
          focus:outline-none
          focus:ring-2 focus:ring-offset-2 focus:ring-lime-400
        ">
        Update Password
      </button>
    </div>
  </form>
</template>
