<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Spik
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="text-black" size="large">Spik</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="">
    <strong>Ready to go?</strong>
    <p class="text-gray-900">Start Spiking</p>
    <ion-button [routerLink]="['/signin']">Go to signin</ion-button>
    <ion-button [routerLink]="['/signup']">Go to signup</ion-button>
  </div>
</ion-content>
