<div class="w-full h-full px-4 py-6">
  <h3 class="text-2xl font-extrabold leading-6 text-black mb-4 pl-2">Notifications</h3>

  <a class="p-2 block border-b text-gray-900" [routerLink]="['/incidents/show', 1]">
    <h3 class="font-bold text-lg">Incendie à Bocom Nkoldongo</h3>
    <h2 class="text-sm text-gray-500">
      Here at Globex we take special care of what your organization needs instead of
    </h2>
  </a>
  <a class="p-2 block border-b text-gray-900" [routerLink]="['/incidents/show/, 1']">
    <h3 class="font-bold text-lg">Incendie à Bocom Nkoldongo</h3>
    <h2 class="text-sm text-gray-500">
      Here at Globex we take special care of what your organization needs instead of
    </h2>
  </a>
  <a class="p-2 block border-b text-gray-900" [routerLink]="['/incidents/show', 1]">
    <h3 class="font-bold text-lg">Incendie à Bocom Nkoldongo</h3>
    <h2 class="text-sm text-gray-500">
      Here at Globex we take special care of what your organization needs instead of
    </h2>
  </a>
  <!-- <div class="p-2 block border-b text-gray-900">
    <h3 class="font-bold text-lg">Admin Warning</h3>
    <h2 class="text-sm text-gray-500">
      We noticed degrading activities from this account trying to blackmail, true informations
    </h2>
  </div> -->
</div>
