$base-color: rgb(255, 232, 232);
$text-base-color: rgb(255, 255, 255);

.heat--1 {
  fill: white;
  stroke: black;
  background-color: white;
}

@for $i from 0 through 9 {
  .heat-#{$i} {
    fill: darken($base-color, $i * 10%);
    stroke: darken($base-color, 100%);
    background-color: darken($base-color, $i * 10%);
  }

  .heat-#{$i}:hover {
    fill: darken($base-color, ($i * 10%) + 5%);
    background-color: darken($base-color, ($i * 10%) + 5%);
  }

  .heat-text-#{$i} {
    color: darken($text-base-color, 100% - ($i * 10%));
  }
}
