.banniere-projet img {
    width: 100vw;
    height: 10em;
    border: 2px solid red;
}

.con {
    position: relative;
    height: 50em;
    width: 50em;
    border: 5px dashed green;
}

.banniere {
    /*  background-image: url(https://placebear.com/g/900/300);*/
    background-image: linear-gradient(#00000094, #00000094), url('https://source.unsplash.com/D46mXLsQRJw/1920x1281');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.colonne:hover {
    cursor: pointer;
}
