<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="">
    <strong>Ready to go?</strong>
    <p class="text-gray-900">Start Spiking</p>
    <ion-button [routerLink]="['/auth/signin']">Go to signin</ion-button>
    <ion-button [routerLink]="['/auth/signup']">Go to signup</ion-button>
    <ion-button [routerLink]="['/auth/reset']">Go to reset </ion-button>
    <ion-button [routerLink]="['/incidents/create']">Go to incidents create </ion-button>
    <ion-button [routerLink]="['/incidents/index']">Go to incidents list </ion-button>
    <ion-button [routerLink]="['/incidents/show']">Go to incidents show </ion-button>
    <ion-button [routerLink]="['/user/profile']">Go to profile </ion-button>
    <ion-button [routerLink]="['/user/notifications']">Go to Notifications </ion-button>
    <ion-button [routerLink]="['/user/incidents']">Go to incidents </ion-button>
    <ion-button [routerLink]="['/user/dashboard']">Go dashboard </ion-button>
  </div>

</ion-content>
